/*=============*/
/* BASIC SETUP */
/*=============*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    color: #262222;
    font-family: 'League-Spartan', sans-serif;
    font-size: 25px; /*base font-size*/
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

h1{		
	text-transform: uppercase;
}

/* BUTTONS */
.btn {
	&:link,
	&:visited {
		text-decoration: none;
	    color: white;
	    border-radius: 100px;
	    display: inline-block; /* to give some padding, a mix between inline and block elements*/
	    padding: 10px 30px;
	    font-weight: 200;
	    margin-top: 30px;
	    transition: all 0.3s;
	    border: 1px solid $type-it-color; /* common attributes to both buttons */
	}
}

.btn-border{
	&:link,
	&:visited{
    	color: $type-it-color;
	}
	&:hover,
	&:active {
		color: white;
    	background-color: $type-it-color;
	}
}

/*============*/
/* ANIMATIONS */
/*============*/
.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

.page-home.ng-leave {
	animation:slideOutLeft 0.5s both ease-in;   
}

@keyframes slideOutLeft {
	to { transform: translateX(-100%); }
}

/*==========*/
/* HOMEPAGE */
/*==========*/
.homepage {
	position: relative;
	font-family: 'League-Spartan';
	background-color: $homepage-bg;
	height: 100vh;
	overflow: hidden;
	.top-cut {
		position: absolute;
		font-size: 10rem;
		top: -8%;
		color: $top-cut-color;
		@include user-select(none);
	}
	.main-headline {
		@include user-select(none);
		position: absolute;
	    width: 1140px;
	    top: 45%;
	    left: 50%;
	    @include transform(-60%, -50%);
		h1 {
			color: #fff;
			font-size: 5rem;
		}
	}
	.type-it {
		color: $type-it-color;
	}
}
