@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@font-face {
  font-family: 'League-Spartan';
  src: url("_webfonts/leaguespartan-bold.eot");
  src: url("_webfonts/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("_webfonts/leaguespartan-bold.woff2") format("woff2"), url("_webfonts/leaguespartan-bold.woff") format("woff"), url("_webfonts/leaguespartan-bold.ttf") format("truetype"), url("_webfonts/leaguespartan-bold.svg#league_spartanbold") format("svg");
  font-weight: bold;
  font-style: normal; }

/*=============*/
/* BASIC SETUP */
/*=============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  color: #262222;
  font-family: 'League-Spartan', sans-serif;
  font-size: 25px;
  /*base font-size*/
  font-weight: 300;
  text-rendering: optimizeLegibility;
  position: relative; }

.custom-header {
  text-transform: uppercase; }

/* BUTTONS */
.custom-button:link, .custom-button:visited {
  text-decoration: none;
  color: white;
  border-radius: 100px;
  display: inline-block;
  /* to give some padding, a mix between inline and block elements*/
  padding: 10px 30px;
  font-weight: 200;
  margin-top: 30px;
  transition: all 0.3s;
  border: 1px solid #e47336;
  /* common attributes to both buttons */ }

.custom-button-border:link, .custom-button-border:visited {
  color: #e47336; }

.custom-button-border:hover, .custom-button-border:active {
  color: white;
  background-color: #e47336; }

/*============*/
/* ANIMATIONS */
/*============*/
.page.ng-leave {
  z-index: 9999; }

.page.ng-enter {
  z-index: 8888; }

.page-home.ng-leave {
  animation: slideOutLeft 0.5s both ease-in; }

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }

/*=========*/
/* NAV BAR */
/*=========*/
.menu-bar {
  position: relative;
  top: 35px;
  margin-right: 35px; }
  .menu-bar .menu-bar-color {
    background: #e47336 !important; }

/*==========*/
/* HOMEPAGE */
/*==========*/
.homepage {
  position: relative;
  font-family: 'League-Spartan';
  background-color: #111111;
  height: 100vh;
  overflow: hidden; }
  .homepage .top-cut {
    position: absolute;
    font-size: 28.5rem;
    top: -12%;
    left: -3%;
    color: #171717;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    -o-user-select: none;
    /*Opera */
    user-select: none; }
  .homepage .main-headline {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    -o-user-select: none;
    /*Opera */
    user-select: none;
    position: absolute;
    width: 1140px;
    top: 45%;
    left: 50%;
    transform: translate(-60%, -50%);
    -o-transform: translate(-60%, -50%);
    -webkit-transform: translate(-60%, -50%);
    -moz-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%); }
    .homepage .main-headline .custom-header {
      color: #fff;
      font-size: 7rem; }
  .homepage .type-it {
    color: #e47336; }

.login-container {
  text-align: center; }
  .login-container #login-card {
    display: inline-block;
    padding: 32px 48px 0px 48px;
    width: 50%; }
  .login-container .input-field.col.s12 {
    padding: 0 !important; }
  .login-container label {
    text-align: left; }
  .login-container a {
    cursor: pointer; }
  .login-container #btn_login {
    background-color: #e47336; }
  .login-container .spt-text {
    color: #e47336; }
  .login-container .lower-cap {
    margin-bottom: 20px; }
  .login-container .card-title {
    font-family: 'League-Spartan';
    text-transform: uppercase;
    color: #e47336;
    font-size: 2.5rem !important;
    user-select: none; }

/*============*/
/* EVENT PAGE */
/*============*/
#new-event-button {
  margin: 35px;
  background: #e47336 !important; }

* {
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

/* ---- grid ---- */
.grid {
  max-width: 700px;
  margin: 0 auto; }

.event-grid {
  margin-top: 40px !important; }

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- grid-item ---- */
.grid-item {
  width: 350px;
  float: left;
  /* vertical gutter */
  margin-bottom: 10px; }

.event-img {
  background: linear-gradient(transparent, black);
  width: 100%; }

/*============*/
/* EVENT FORM */
/*============*/
#back-button {
  background: #e47336 !important;
  position: fixed;
  top: 32px;
  left: 30px; }

#card-data {
  margin: 100px; }
  #card-data .card-content {
    padding: 50px !important; }
    #card-data .card-content #event-form {
      margin-top: 30px; }
  #card-data .card-title {
    font-size: 2.3rem !important;
    font-family: 'League-Spartan';
    color: #e47336; }
    #card-data .card-title + p {
      font-size: 1.5rem !important;
      margin-top: 10px;
      font-family: 'League-Spartan'; }

#map {
  height: 300px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid silver; }

#post-button {
  text-transform: none;
  font-size: 1rem;
  font-family: 'League-Spartan';
  margin-left: 38%;
  margin-top: 5%;
  background: #e47336 !important; }
