@import url("https://fonts.googleapis.com/css?family=Lato:300,400");
@font-face {
  font-family: 'League-Spartan';
  src: url("_webfonts/leaguespartan-bold.eot");
  src: url("_webfonts/leaguespartan-bold.eot?#iefix") format("embedded-opentype"), url("_webfonts/leaguespartan-bold.woff2") format("woff2"), url("_webfonts/leaguespartan-bold.woff") format("woff"), url("_webfonts/leaguespartan-bold.ttf") format("truetype"), url("_webfonts/leaguespartan-bold.svg#league_spartanbold") format("svg");
  font-weight: bold;
  font-style: normal; }

/*=============*/
/* BASIC SETUP */
/*=============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  color: #262222;
  font-family: 'League-Spartan', sans-serif;
  font-size: 25px;
  /*base font-size*/
  font-weight: 300;
  text-rendering: optimizeLegibility;
  position: relative; }

.custom-header {
  text-transform: uppercase; }

/* BUTTONS */
.custom-button:link, .custom-button:visited {
  text-decoration: none;
  color: white;
  border-radius: 100px;
  display: inline-block;
  /* to give some padding, a mix between inline and block elements*/
  padding: 10px 30px;
  font-weight: 200;
  margin-top: 30px;
  transition: all 0.3s;
  border: 1px solid #e47336;
  /* common attributes to both buttons */ }

.custom-button-border:link, .custom-button-border:visited {
  color: #e47336; }

.custom-button-border:hover, .custom-button-border:active {
  color: white;
  background-color: #e47336; }

/*============*/
/* ANIMATIONS */
/*============*/
.page.ng-leave {
  z-index: 9999; }

.page.ng-enter {
  z-index: 8888; }

.page-home.ng-leave {
  animation: slideOutLeft 0.5s both ease-in; }

@keyframes slideOutLeft {
  to {
    transform: translateX(-100%); } }

/*=========*/
/* NAV BAR */
/*=========*/
.menu-bar {
  position: relative;
  top: 35px;
  margin-right: 35px; }
  .menu-bar .menu-bar-color {
    background: #e47336 !important; }

/*==========*/
/* HOMEPAGE */
/*==========*/
.homepage {
  position: relative;
  font-family: 'League-Spartan';
  background-color: #111111;
  height: 100vh;
  overflow: hidden; }
  .homepage .top-cut {
    position: absolute;
    font-size: 28.5rem;
    top: -12%;
    left: -3%;
    color: #171717;
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    -o-user-select: none;
    /*Opera */
    user-select: none; }
  .homepage .main-headline {
    -webkit-user-select: none;
    /* Chrome/Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+ */
    -o-user-select: none;
    /*Opera */
    user-select: none;
    position: absolute;
    width: 1140px;
    top: 45%;
    left: 50%;
    transform: translate(-60%, -50%);
    -o-transform: translate(-60%, -50%);
    -webkit-transform: translate(-60%, -50%);
    -moz-transform: translate(-60%, -50%);
    -ms-transform: translate(-60%, -50%); }
    .homepage .main-headline .custom-header {
      color: #fff;
      font-size: 7rem; }
  .homepage .type-it {
    color: #e47336; }

.login-container {
  text-align: center; }
  .login-container #login-card {
    display: inline-block;
    padding: 32px 48px 0px 48px;
    width: 50%; }
  .login-container .input-field.col.s12 {
    padding: 0 !important; }
  .login-container label {
    text-align: left; }
  .login-container a {
    cursor: pointer; }
  .login-container #btn_login {
    background-color: #e47336;
    position: relative;
    top: -30px; }
  .login-container .spt-text {
    color: #e47336; }
  .login-container .lower-cap {
    margin-bottom: 20px;
    position: relative;
    top: -30px; }
  .login-container .card-title {
    font-family: 'League-Spartan';
    text-transform: uppercase;
    color: #e47336;
    font-size: 2.5rem !important;
    user-select: none; }

/*============*/
/* EVENT PAGE */
/*============*/
#new-event-button {
  margin: 35px;
  background: #e47336 !important; }

* {
  box-sizing: border-box; }

body {
  font-family: sans-serif; }

/* ---- grid ---- */
.grid {
  max-width: 700px;
  margin: 0 auto; }

.event-grid {
  margin-top: 40px !important; }

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both; }

/* ---- grid-item ---- */
.grid-item {
  width: 350px;
  float: left;
  /* vertical gutter */
  margin-bottom: 10px; }

.event-img {
  background: linear-gradient(transparent, black);
  width: 100%; }

/*============*/
/* EVENT FORM */
/*============*/
#back-button {
  background: #e47336 !important;
  position: fixed;
  top: 32px;
  left: 30px; }

#card-data {
  margin: 100px; }
  #card-data .card-content {
    padding: 50px !important; }
    #card-data .card-content #event-form {
      margin-top: 30px; }
  #card-data .card-title {
    font-size: 2.3rem !important;
    font-family: 'League-Spartan';
    color: #e47336; }
    #card-data .card-title + p {
      font-size: 1.5rem !important;
      margin-top: 10px;
      font-family: 'League-Spartan'; }

#map {
  height: 300px;
  margin: 20px 0;
  border-radius: 5px;
  border: 1px solid silver; }

#post-button {
  text-transform: none;
  font-size: 1rem;
  font-family: 'League-Spartan';
  margin-left: 38%;
  margin-top: 5%;
  background: #e47336 !important; }

.event-info .event-header {
  background-color: #fff;
  padding: 0px;
  min-height: 600px; }
  .event-info .event-header .event-owner {
    background: #ffd89b;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffd89b, #19547b);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffd89b, #19547b);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 400px;
    background-color: #aaa; }
    .event-info .event-header .event-owner img {
      max-width: 60%; }
    .event-info .event-header .event-owner a {
      color: black; }
    .event-info .event-header .event-owner #owner {
      font-family: 'League-Spartan';
      color: #fff; }
  .event-info .event-header .event-details {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #141E30, #243B55);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #141E30, #243B55);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 400px;
    color: white; }
    .event-info .event-header .event-details span#name {
      font-size: 4rem; }
    .event-info .event-header .event-details span#rest {
      font-size: 1.3rem;
      text-align: center; }
      .event-info .event-header .event-details span#rest i {
        margin: 30px;
        margin-right: 0px; }
  .event-info .event-header .event-map {
    height: 400px;
    padding: 0 !important; }
    .event-info .event-header .event-map #map {
      min-height: 400px;
      margin: 0 !important;
      padding: 0 !important; }

.event-info .event-footer #info-text {
  font-size: 1.3rem;
  font-weight: 700; }

.event-info .event-footer td {
  text-align: center; }

.event-info .event-footer div#guest-list {
  font-weight: 700;
  margin-bottom: 10px; }

.event-info .event-footer .redColor {
  color: red !important; }

.event-info .event-footer .greenColor {
  color: green !important; }

.event-info .event-footer p#delone-type {
  font-weight: 700;
  font-size: 1.3rem; }

.event-info .event-footer p {
  font-size: 1.3rem; }

.event-info #post-button {
  margin: 0; }

.event-info div#commentTitle {
  color: #e47336;
  font-family: 'League-Spartan';
  margin: 30px;
  padding-top: 30px; }

.event-info .comment {
  font-size: 1.35rem;
  margin-bottom: 30px !important; }

.user-header img {
  max-width: 70% !important; }

.user-details p#title {
  font-size: 4rem;
  font-family: 'League-Spartan';
  color: #e47336; }

.user-details span:nth-of-type(2) {
  margin: 30px; }

.user-details #custom {
  background: #e47336 !important;
  padding-left: 10px !important;
  padding-right: 10px !important; }

.col.s4 {
  padding: 0px !important; }

.user-settings a {
  color: #e47336 !important;
  float: right; }

.user-settings i {
  float: right;
  margin: 30px; }

.user-settings i#follow {
  margin: 0; }

.user-settings #post-button {
  color: #fff !important; }
  .user-settings #post-button span {
    margin-left: 10px; }

.user-settings a#post-button-2 {
  color: #fff !important;
  background: #e47336 !important;
  font-weight: 400;
  font-size: 1.2rem;
  float: none;
  position: relative;
  top: 350px;
  left: 220px; }
  .user-settings a#post-button-2 i {
    margin-right: 10px; }

.follow-panel {
  color: #e47336;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  height: 0%; }

.clearfix {
  display: block; }

.user-events {
  margin-top: 10px !important; }
  .user-events a {
    position: relative;
    top: -5px;
    text-transform: uppercase;
    color: #e47336;
    font-size: 1rem; }

li a {
  color: #e47336 !important;
  font-family: 'League-Spartan'; }
