@mixin transform($x, $y){
	transform: translate($x, $y);
    -o-transform: translate($x, $y);
    -webkit-transform: translate($x, $y);
    -moz-transform: translate($x, $y);
    -ms-transform: translate($x, $y);
}

@mixin user-select($x){
	-webkit-user-select: $x; /* Chrome/Safari */        
	-moz-user-select: $x; /* Firefox */
	-ms-user-select: $x; /* IE10+ */
	-o-user-select: $x; /*Opera */
	user-select: $x;
}

@mixin linear-gradient($x, $y){
	background: $x; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, $x , $y); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, $y , $y); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}