<div ng-include="'views/navbar.html'"></div>
<a class="btn-floating btn-large waves-effect waves-light tooltip" id="back-button" title="go back" href="#/events"><i class="fa fa-angle-left"></i></a>

<div class="section"></div>
<div class="section"></div>
<div class="container z-depth-1" style="background-color: #fff">
	<div class="user-header">
		<div class="row" style="margin: 0px;">
			<div class="col s4 curr-user">
				<div class="center">
					<div class="section"></div>
					<div class="section"></div>
					<img class="circle responsive-img" src={{currUser.img}} alt="user avatar">
				</div>
			</div>
			<div class="col s4 user-details">
				<div class="section"></div>
				<div class="section"></div>
				<p id="title">{{currUser.username}}</p>
				<blockquote>{{currUser.about}}</blockquote>
				<div class='section'></div>
				<span class="follow-panel"><a class="waves-effect waves-light btn modal-trigger1" id="custom" data-target="modal1"><span ng-bind="numFollowers"></span> followers</a></span>
				<span class="follow-panel"><a class="waves-effect waves-light btn modal-trigger2" id="custom" data-target="modal2">{{currUser.following.length}} following</a></span>
			</div>
			<div class="col s4 user-settings">
				<div ng-if="user._id === currUser._id"><a href="#!"><i class="fa fa-cogs"></i></a></div>
				<div ng-if="user._id !== currUser._id"><a ng-click="follow()" ng-show="!isFollowing" id="post-button" class="waves-effect waves-light btn"><i id="follow" class="icon-user-add material-icons left"></i> <span>follow</span></a></div>

				<!-- chat -->
				<div ng-if="user._id !== currUser._id"><a id="post-button-2" class="waves-effect waves-light btn"><i id="follow" class="icon-chatbubble-working material-icons left"></i> <span>Chat</span></a></div>
			</div>
		</div>
		<div class='section'></div>
	</div>
</div>

<div class="clearfix"></div>

<div class="container" style="margin-top: 10px;">
	 <div class="row">
	    <div class="col s12">
	      <ul class="tabs">
	        <li class="tab col s6"><a href="#test1">Hosted</a></li>
	        <li class="tab col s6"><a class="active" href="#test2">Attended</a></li>
	      </ul>
	    </div>
	    <div id="test1" class="col s12">
	    	<div class="container event-grid">
				<div masonry style="text-align: center; max-width: 740px;margin: 0 auto;">
				    <div class="masonry-brick" ng-repeat="event in currUserEvents" style="margin: 0 auto;">
				        <div class="grid-item" style="margin: 10px">
				        	<div class="card">
							    <div class="card-image waves-effect waves-block waves-light">
							      <img class="activator" src="{{event.img}}" style="min-height: 60px;">
							      <span class="event-img card-title activator white-text truncate"s>{{event.event_name}}</span>
							    </div>
							    <div class="card-content">
							      <span class="card-title activator red-text text-darken-3">{{event.date}} {{event.time}}</span>
							      <p class="card-action"><div class="chip">{{event.count}} {{event.count == 1 ? 'person' : 'people'}} can tag along.</div></p>
							    </div>
							    <div class="card-reveal">
							      <span class="card-title grey-text text-darken-4" style="font-weight: 400; font-size: 2rem; text-transform: uppercase;">{{event.event_name}}<i class="material-icons right">close</i></span>
							      <p class="card-action">{{event.msg}}</p>
							      <p class="card-action">{{event.place}}</p>
							      <a class="waves-effect waves-light btn-large" href="#/events/{{event._id}}">Find more</a>
							    </div>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	    <div id="test2" class="col s12" style="box-shadow: none !important;">
	    	<div class="container event-grid">
				<div masonry style="text-align: center; max-width: 740px;margin: 0 auto;">
				    <div class="masonry-brick" ng-repeat="event in currUserAttEvents" style="margin: 0 auto;">
					        
				    <div ng-if="event._id !== undefined">

					        <div class="grid-item" style="margin: 10px">
					        	<div class="card">
								    <div class="card-image waves-effect waves-block waves-light">
								      <img class="activator" src="{{event.img}}" style="min-height: 60px;">
								      <span class="event-img card-title activator white-text truncate"s>{{event.event_name}}</span>
								    </div>
								    <div class="card-content">
								      <span class="card-title activator red-text text-darken-3">{{event.date}} {{event.time}}</span>
								      <p class="card-action"><div class="chip">{{event.count}} {{event.count == 1 ? 'person' : 'people'}} can tag along.</div></p>
								    </div>
								    <div class="card-reveal">
								      <span class="card-title grey-text text-darken-4" style="font-weight: 400; font-size: 2rem; text-transform: uppercase;">{{event.event_name}}<i class="material-icons right">close</i></span>
								      <p class="card-action">{{event.msg}}</p>
								      <p class="card-action">{{event.place}}</p>
								      <a class="waves-effect waves-light btn-large" href="#/events/{{event._id}}">Find more</a>
								    </div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>

<div class="fixed-action-btn">
	<a href="#/events/new" id="new-event-button" class="btn-floating btn-large waves-effect waves-light tooltip" title="New event!">
	  <i class="large material-icons">mode_edit</i>
	</a>
</div>

  
  <!-- Modal Structure for followers -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
    	<div ng-repeat="follower in followers">
			<div class="ui comments">
				<div class="comment">
				    <a ng-click="redirect(follower._id)" class="avatar">
				      <img src={{follower.img}} style="border-radius: 100%;">
				    </a>
				    <div class="content">
				      <a ng-click="redirect(follower._id)" class="author">{{follower.username}}</a>
				      <div class="text">
				        {{follower.about}}
				      </div>
				    </div>
				</div>
			</div>
		</div>
    </div>
  </div>

  <!-- Modal Structure for following -->
  <div id="modal2" class="modal bottom-sheet">
    <div class="modal-content">
    	<div ng-repeat="follower in following">
			<div class="ui comments">
				<div class="comment">
				    <a ng-click="redirect(follower._id)" class="avatar">
				      <img src={{follower.img}} style="border-radius: 100%;">
				    </a>
				    <div class="content">
				      <a ng-click="redirect(follower._id)" class="author">{{follower.username}}</a>
				      <div class="text">
				        {{follower.about}}
				      </div>
				    </div>
				</div>
			</div>
		</div>
    </div>
  </div>

<style type="text/css">
	body {
		background: rgb(241, 241, 241);
    	font-family: 'Lato';
	}
</style>

<script type="text/javascript">
	$(document).ready(function(){
    	 $('.modal-trigger1').leanModal();
    	 $('.modal-trigger2').leanModal();
    	 $('ul.tabs').tabs();
	});
</script>
