<div ng-include="'views/navbar.html'"></div>
<a class="btn-floating btn-large waves-effect waves-light tooltip" id="back-button" title="go back" href="#/events"><i class="fa fa-angle-left"></i></a>

<div class="section"></div>
<div class="section"></div>
<div class="container z-depth-1" style="background-color: #fff">
	<div class="user-header">
		<div class="row" style="margin: 0px;">
			<div class="col s4 curr-user">
				<div class="center">
					<div class="section"></div>
					<div class="section"></div>
					<img class="circle responsive-img" src={{currUser.img}} alt="user avatar">
				</div>
			</div>
			<div class="col s4 user-details">
				<div class="section"></div>
				<div class="section"></div>
				<p id="title">{{currUser.username}}</p>
				<blockquote>{{currUser.about}}</blockquote>
				<div class='section'></div>
				<span class="follow-panel"><a class="waves-effect waves-light btn modal-trigger1" id="custom" data-target="modal1"><span ng-bind="numFollowers"></span> followers</a></span>
				<span class="follow-panel"><a class="waves-effect waves-light btn modal-trigger2" id="custom" data-target="modal2">{{currUser.following.length}} following</a></span>
			</div>
			<div class="col s4 user-settings">
				<div ng-if="user._id === currUser._id"><a href="#!"><i class="fa fa-cogs"></i></a></div>
				<div ng-if="user._id !== currUser._id"><a ng-click="follow()" ng-show="!isFollowing" id="post-button" class="waves-effect waves-light btn"><i id="follow" class="icon-user-add material-icons left"></i> <span>follow</span></a></div>
			</div>
		</div>
		<div class='section'></div>
	</div>
</div>

<div class="container z-depth-1" style="margin-top: 10px;">
	 <div class="row">
	    <div class="col s12">
	      <ul class="tabs">
	        <li class="tab col s6"><a href="#test1">Attended</a></li>
	        <li class="tab col s6"><a class="active" href="#test2">Hosted</a></li>
	      </ul>
	    </div>
	    <div id="test1" class="col s12">
	    	Attended delones will be here!
	    </div>
	    <div id="test2" class="col s12">
	    	Hosted delones will be here!
	    </div>
	</div>
</div>

<div class="fixed-action-btn">
	<a href="#/events/new" id="new-event-button" class="btn-floating btn-large waves-effect waves-light tooltip" title="New event!">
	  <i class="large material-icons">mode_edit</i>
	</a>
</div>

  
  <!-- Modal Structure for followers -->
  <div id="modal1" class="modal bottom-sheet">
    <div class="modal-content">
    	<div ng-repeat="follower in followers">
			<div class="ui comments">
				<div class="comment">
				    <a class="avatar">
				      <img src={{follower.img}} style="border-radius: 100%;">
				    </a>
				    <div class="content">
				      <a class="author">{{follower.username}}</a>
				      <div class="text">
				        {{follower.about}}
				      </div>
				    </div>
				</div>
			</div>
		</div>
    </div>
  </div>

    <!-- Modal Structure for following -->
  <div id="modal2" class="modal bottom-sheet">
    <div class="modal-content">
    	<div ng-repeat="follower in following">
			<div class="ui comments">
				<div class="comment">
				    <a class="avatar">
				      <img src={{follower.img}} style="border-radius: 100%;">
				    </a>
				    <div class="content">
				      <a class="author">{{follower.username}}</a>
				      <div class="text">
				        {{follower.about}}
				      </div>
				    </div>
				</div>
			</div>
		</div>
    </div>
  </div>

<style type="text/css">
	body {
		background: rgb(241, 241, 241);
    	font-family: 'Lato';
	}
</style>

<script type="text/javascript">
	$(document).ready(function(){
    	 $('.modal-trigger1').leanModal();
    	 $('.modal-trigger2').leanModal();
    	 $('ul.tabs').tabs();
	});
</script>
